@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap");
.nav-container {
  background-color: rgba(141, 66, 66, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
  .nav-container .nav-bar {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    max-width: 1050px;
    margin: auto;
    position: relative;
    height: 3rem; }
    .nav-container .nav-bar .left {
      flex: 1 50%; }
      .nav-container .nav-bar .left .name {
        font-size: 1.4rem;
        position: absolute;
        bottom: 0;
        padding-left: 1rem; }
    .nav-container .nav-bar .right {
      flex: 1 50%;
      display: flex;
      flex-direction: row;
      right: 0; }
      .nav-container .nav-bar .right .menu {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-top: 0.5rem; }
        @media (max-width: 768px) {
          .nav-container .nav-bar .right .menu {
            position: inherit; } }
        .nav-container .nav-bar .right .menu .container-links {
          display: flex;
          flex-direction: row; }
          @media (max-width: 768px) {
            .nav-container .nav-bar .right .menu .container-links {
              display: none; } }
          .nav-container .nav-bar .right .menu .container-links a {
            padding: 0.2rem; }
            .nav-container .nav-bar .right .menu .container-links a.link {
              margin-right: 1rem;
              text-decoration: none;
              color: #ffffff; }
        .nav-container .nav-bar .right .menu .burger {
          width: 1.5rem;
          display: none;
          flex-direction: column;
          position: absolute;
          right: 0;
          cursor: pointer;
          margin: 0.5rem 1.5rem 0 0;
          padding: 0.2rem; }
          @media (max-width: 768px) {
            .nav-container .nav-bar .right .menu .burger {
              display: flex; } }
          .nav-container .nav-bar .right .menu .burger:hover {
            border: 0.1rem solid #ffffff;
            padding: 0.1rem;
            border-radius: 0.2rem 1rem 0 0.2rem; }
            .nav-container .nav-bar .right .menu .burger:hover .top {
              transform: scale(0); }
            .nav-container .nav-bar .right .menu .burger:hover .middle {
              transform: rotate(38deg) translate(0px, 0px); }
            .nav-container .nav-bar .right .menu .burger:hover .bottom {
              transform: scale(0); }
          .nav-container .nav-bar .right .menu .burger .top {
            height: 2px;
            background-color: #ffffff;
            transition: 0.5s ease-in-out;
            border-radius: 3rem;
            transition: 0.3s; }
          .nav-container .nav-bar .right .menu .burger .middle {
            margin: 0.5rem 0;
            height: 2px;
            background-color: #ffffff;
            transition: 0.5s ease-in-out;
            border-radius: 3rem; }
          .nav-container .nav-bar .right .menu .burger .bottom {
            height: 2px;
            background-color: #ffffff;
            transition: 0.5s ease-in-out;
            border-radius: 3rem;
            transition: 0.3s; }

body {
  margin: 0;
  width: 100%;
  background: rgba(102, 93, 93, 0.1);
  font-family: 'Montserrat', sans-serif; }
  body .intro {
    height: fit-content;
    position: relative; }
    body .intro .intro-container:before {
      content: "";
      background-image: url(images/wall.jpg);
      background-size: cover;
      background-position-y: 70%;
      opacity: 0.1;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0;
      left: 0px;
      z-index: -1; }
    body .intro .intro-container .about {
      margin: auto;
      max-width: 30rem;
      text-align: center;
      padding: 5rem 1rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      line-height: 1.7rem;
      font-size: 1rem; }
    body .intro:after {
      content: "";
      display: block;
      width: 100%;
      margin: auto;
      bottom: 0;
      height: 1px;
      position: relative;
      background-color: rgba(102, 93, 93, 0.5); }
  body .skills-container {
    height: fit-content;
    padding: 1rem;
    z-index: 2;
    padding: 5rem 0 10rem;
    max-width: 1150px;
    overflow: hidden;
    margin: auto; }
    body .skills-container .skills {
      display: flex;
      flex-direction: row; }
      @media (max-width: 992px) {
        body .skills-container .skills {
          flex-direction: column; } }
      body .skills-container .skills .skill {
        display: flex;
        flex: 1 30%;
        height: 13rem;
        margin: 2rem 4rem;
        position: relative;
        max-width: 20rem;
        width: 20rem; }
        @media (max-width: 992px) {
          body .skills-container .skills .skill {
            flex: none;
            margin: 4rem auto; } }
        body .skills-container .skills .skill:hover .title {
          transform: scale(1.7); }
        body .skills-container .skills .skill:hover .skill-sub li {
          opacity: 1; }
          body .skills-container .skills .skill:hover .skill-sub li .skill-sub-skill {
            background-color: rgba(102, 93, 93, 0.08);
            border-radius: 2rem 18rem 0rem 0rem; }
          body .skills-container .skills .skill:hover .skill-sub li p {
            background-color: rgba(102, 93, 93, 0.08);
            border-radius: 0rem 0rem 0rem 0.5rem; }
        body .skills-container .skills .skill .title {
          margin: auto;
          z-index: 5;
          transform: scale(2);
          transition: 0.2s ease-in;
          font-weight: 200;
          color: rgba(141, 66, 66, 0.7); }
        body .skills-container .skills .skill .skill-sub {
          padding: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          transition: 1s ease-in; }
          body .skills-container .skills .skill .skill-sub li {
            list-style: none;
            opacity: 0.1;
            transition: 0.5s ease-in;
            display: flex;
            flex-direction: column;
            width: 10rem; }
            body .skills-container .skills .skill .skill-sub li .skill-sub-skill {
              font-size: 0.9rem;
              padding: 0.2rem; }
            body .skills-container .skills .skill .skill-sub li p {
              margin: 0;
              font-size: 0.7rem;
              padding: 0.3rem; }
            body .skills-container .skills .skill .skill-sub li .skill-sub-skill,
            body .skills-container .skills .skill .skill-sub li p {
              transition: 1s ease-in-out; }
            body .skills-container .skills .skill .skill-sub li:nth-child(1) {
              position: absolute;
              left: 40%;
              top: -2rem; }
              body .skills-container .skills .skill .skill-sub li:nth-child(1)::after {
                content: '';
                width: 1px;
                height: 2rem;
                background-color: rgba(102, 93, 93, 0.1);
                left: 2rem;
                position: relative;
                margin-top: 0.5rem; }
            body .skills-container .skills .skill .skill-sub li:nth-child(2) {
              position: absolute;
              left: 20%;
              bottom: -3rem; }
              body .skills-container .skills .skill .skill-sub li:nth-child(2)::before {
                content: '';
                width: 1px;
                height: 5rem;
                background-color: rgba(102, 93, 93, 0.1);
                left: 3rem;
                position: relative;
                transform: rotate(20deg);
                margin-bottom: 0.5rem; }
            body .skills-container .skills .skill .skill-sub li:nth-child(3) {
              position: absolute;
              left: 60%;
              bottom: 1rem; }
              body .skills-container .skills .skill .skill-sub li:nth-child(3)::before {
                content: '';
                width: 1px;
                height: 1rem;
                background-color: rgba(102, 93, 93, 0.1);
                left: 0.5rem;
                position: relative;
                transform: rotate(-20deg);
                margin-bottom: 0.5rem; }
  body .experience {
    position: relative; }
    body .experience .container-trainings {
      max-width: 1150px;
      display: flex;
      flex-direction: row;
      margin: auto;
      padding-left: 1rem; }
      body .experience .container-trainings:before {
        position: absolute;
        content: "";
        width: 40%;
        height: 60%;
        background-color: rgba(141, 66, 66, 0.1);
        left: -1rem;
        top: 20%;
        border: 1px solid rgba(102, 93, 93, 0.1);
        border-radius: 0 8rem 0 0; }
        @media (max-width: 768px) {
          body .experience .container-trainings:before {
            width: 12rem; } }
        @media (max-width: 576px) {
          body .experience .container-trainings:before {
            width: 6rem; } }
      body .experience .container-trainings .training-experience {
        flex: 1 0 30%;
        margin: auto auto auto 0rem;
        font-weight: 200;
        transition: 0.2s ease-in; }
        @media (max-width: 576px) {
          body .experience .container-trainings .training-experience {
            transform: rotate(-90deg);
            flex: 1 0 10%;
            left: -3rem;
            position: relative; } }
      body .experience .container-trainings ul.container {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        padding: 0; }
        @media (max-width: 576px) {
          body .experience .container-trainings ul.container {
            flex: 1 1 80%; } }
        body .experience .container-trainings ul.container li.training {
          list-style: none; }
          body .experience .container-trainings ul.container li.training .training-title {
            font-size: 1.3rem;
            font-weight: 200;
            display: inline; }
            @media (max-width: 990px) {
              body .experience .container-trainings ul.container li.training .training-title {
                display: inherit;
                margin-bottom: 0.2rem; } }
            body .experience .container-trainings ul.container li.training .training-title:after {
              display: inherit;
              padding: 0 0.2rem 0 0.5rem;
              content: "@";
              color: rgba(141, 66, 66, 0.7); }
              @media (max-width: 990px) {
                body .experience .container-trainings ul.container li.training .training-title:after {
                  display: none; } }
          body .experience .container-trainings ul.container li.training .training-source {
            text-decoration: none;
            color: black;
            font-weight: 100; }
            @media (max-width: 990px) {
              body .experience .container-trainings ul.container li.training .training-source {
                color: rgba(141, 66, 66, 0.7); } }
            body .experience .container-trainings ul.container li.training .training-source:hover {
              border-bottom: 1px solid rgba(141, 66, 66, 0.1); }
          body .experience .container-trainings ul.container li.training .training-description {
            color: #665d5d;
            line-height: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            padding-right: 2rem; }
            @media (max-width: 990px) {
              body .experience .container-trainings ul.container li.training .training-description {
                margin-top: 0.2rem; } }
          body .experience .container-trainings ul.container li.training ul {
            padding-left: 1rem; }
            body .experience .container-trainings ul.container li.training ul li {
              padding-left: 0rem;
              list-style: circle;
              color: #665d5d;
              font-weight: 100; }
  body .projects {
    margin: 10rem auto 6em; }
    body .projects:before {
      content: "";
      display: block;
      width: 100%;
      margin: auto;
      bottom: 0;
      height: 1px;
      position: relative;
      background-color: rgba(102, 93, 93, 0.5); }
    body .projects .container-projects .title-projects {
      height: 9rem;
      text-align: center;
      font-weight: 100;
      font-size: 3rem;
      position: relative;
      margin: auto;
      padding-top: 6rem; }
      body .projects .container-projects .title-projects::after {
        content: "";
        display: block;
        width: 100%;
        margin: auto;
        bottom: 0;
        height: 1px;
        position: relative;
        background-color: rgba(102, 93, 93, 0.5);
        position: absolute; }
      body .projects .container-projects .title-projects .container {
        content: "";
        background: url(images/work3.jpg) no-repeat;
        background-position-y: 10%;
        background-size: cover;
        height: 15rem;
        width: 100%;
        position: absolute;
        opacity: 0.2;
        top: 0; }
    body .projects .container-projects .projects-list {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 4rem; }
      body .projects .container-projects .projects-list .project {
        list-style: none;
        flex: 0 0 20rem;
        display: flex;
        justify-content: top;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        margin: 0 2rem; }
        body .projects .container-projects .projects-list .project .container {
          position: inherit;
          height: 15rem;
          width: 19rem;
          border: 0.4rem solid rgba(141, 66, 66, 0.1);
          border-radius: 0.5rem 4rem 0 0.5rem;
          overflow: hidden;
          transition: 1s ease-in-out; }
          body .projects .container-projects .projects-list .project .container:hover {
            border: 0.4rem solid rgba(141, 66, 66, 0.4); }
            body .projects .container-projects .projects-list .project .container:hover img {
              max-height: 120%;
              opacity: 0.6; }
          body .projects .container-projects .projects-list .project .container img {
            max-height: 100%;
            position: absolute;
            opacity: 0.4;
            vertical-align: middle;
            transition: 1s ease-in-out; }
        body .projects .container-projects .projects-list .project .title-project {
          text-align: center;
          margin: 1rem;
          font-size: 1.5rem;
          font-weight: 300; }
        body .projects .container-projects .projects-list .project .project-duties {
          list-style: none;
          margin: auto; }
          body .projects .container-projects .projects-list .project .project-duties li {
            font-weight: 100;
            color: #665d5d;
            line-height: 1.7rem; }
  body footer {
    margin-top: 2rem;
    position: relative;
    background-color: rgba(141, 66, 66, 0.7);
    width: 100%;
    height: 6rem;
    border-top: 1px solid rgba(255, 255, 255, 0.7); }
    body footer .footer-container {
      padding: 1rem 2rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      body footer .footer-container .contacts {
        display: flex;
        flex-direction: row;
        position: relative;
        flex: 0 0 30%;
        justify-content: flex-end; }
        body footer .footer-container .contacts .social {
          flex: 0 0 20%;
          list-style: none;
          position: static;
          width: 2rem;
          height: 2rem; }
          @media (max-width: 576px) {
            body footer .footer-container .contacts .social {
              padding-right: 2.2rem; } }
          body footer .footer-container .contacts .social a {
            position: absolute;
            border: 1px solid rgba(255, 255, 255, 0);
            padding: 0.5rem 1rem 0.3rem;
            border-radius: 0.2rem 1.4rem 0 0.4rem;
            transition: 0.4s ease-in-out; }
            body footer .footer-container .contacts .social a:hover {
              border: 1px solid white; }
            body footer .footer-container .contacts .social a img {
              width: 1.8rem;
              height: 1.8rem; }

/*# sourceMappingURL=style.css.map */
