@import "variables.scss";
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import "mixin.scss";


body {
    margin: 0;
    width: 100%;

    .nav-container {

        background-color: $nav-bar-background;
        .nav-bar {
            color: $white;
            display: flex;
            flex-direction: row;
            max-width: $max-width-navbar;
            margin: auto;
            position: relative;
            padding: 1rem;
    
            .left {
                flex: 1 50%;
    
            }
            .right {
                flex: 1 50%;
                display: flex;
                flex-direction: row;
    
                .container-links {
                    display: flex;
                    flex-direction: row;

                    a {
                        &.link {
                            margin-right: 1rem;
                            text-decoration: none;
                            color: $white;
                        }
    
                    }
                }
                .burger {
                    width: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 0;
                    cursor: pointer;

                    &:hover {
                        // .middle,
                        // .top,
                        // .bottom {
                        //     transform: rotate(70deg);
                        // }
                        .top {

                            transform: rotate(270deg) translate(-15px, 0px);
                                                    }
                    }
    
                    .top {
                        @include burger;
                    }
                    .middle {
                        margin: 0.5rem 0;
                        @include burger;
                    }
                    .bottom {
                        @include burger;
                    }
                }
            }
        }
    }
}
