
// COLORS
$nav-bar-background:    #9a4848;
$white:                 #ffffff;
$background-light-grey: #d2d1d1;
$skill-legs:            rgba(102, 93, 93, 0.5);
$skills-background-grey: rgba(102, 93, 93, 0.08);

// WIDTH
$max-width-navbar:             1050px;