
// COLORS
$nav-bar-background:    rgba(141,66,66, 0.7);
$white:                 #ffffff;
$background-light-grey: #C5C3C3;
$skill-legs:            rgba(102, 93, 93, 0.5);
$skills-background-grey: rgba(102, 93, 93, 0.08);

// WIDTH
$max-width-navbar:             1050px;