
// COLORS
$white:                  #ffffff;
$background-light-grey:  #C5C3C3;
$skills-background-grey: rgba(102, 93, 93, 0.08);

$main-grey:              rgba(102, 93, 93, 0.5);
$main-grey-opacity-max:  rgba(102, 93, 93, 1);
$main-grey-dim:          rgba(102, 93, 93, 0.1);

$main-red:               rgba(141,66,66, 0.7);
$main-red-dim:           rgba(141,66,66, 0.1);



// WIDTH
$max-width-navbar:             1050px;
$max-width-content:            1150px;
